body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    color:#40514E;
}
hr{
    
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width : 4%;
    margin : 100px auto;
    
    
}
h1{
    position: relative;
    margin: 50px auto 0px auto;
    
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    line-height: 1;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;
    padding-bottom: 10px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;

}
a{
    color: #11999E;
}
.p{
    line-height: 2;
}
.topcontainer{
    /*previous color #28df99 */
    background-color:#E4F9F5;
    padding-top: 100px;
    position: relative;
    
}
.middle-container{
    margin:100px,0;
}
.bottom-container{
    margin: 100,0;
    padding-top: 50px;
    background-color: #66BFBF;
    color: #11999E;
    line-height: 2;
    height: 100px;
}
.copyright{
    margin-top: 30px;
    color:#EAF6F6 ;
    font-size: 10px;
}
.footer-link{
    position: relative;
    margin-left :25px;
    text-decoration: none;
}
.profile-pic{
    width: 20%;
    margin-top: 40px;
}
.skill-row{
    margin:100px auto;
    width: 50%;
    text-align: left;
    
}

.web{
    text-decoration: underline;
}
.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;

}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}
.web-dev-image{
    width: 25%;
    
    float: left;
    margin-right: 30px;
}
.java-image{
    width: 25%;
    float: right;
    margin-left: 20px;
}
.linkedin-image{
    margin:10px,20px;
    width: 40px;
}
.github-image{
    margin:10px,20px;
    width: 40px;
}
.twitter-image{
    margin:10px,20px;
    width: 40px;
}
/*
.dev-text{
    clear: left;
}
.java-text{
    clear: right;
}
*/
.myButton {
    margin:50px ;
    margin-bottom: 75px;
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #8cd8d8 5%, #408c99 100%);
	background-color:#8cd8d8;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #c32870 5%, #620da8 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}